.position--fixed {
    position: fixed!important;
}
.nvaBar {
    position: fixed!important;
    background-color: #FBFBFF !important;
    width: 100%;
    z-index: 1030;
    top: 0;
    padding-top: 29px !important;
}
.tile{
    box-sizing: border-box;
    background: #6C1D5F;
    height: 101px;
    width: 205px;
    position: absolute;
    padding: 17px 20px 20px 50px
}
.tile-text{
    color: white;
    /* font-family: ProximaNova-Light,sans-serif; */
    font-size: x-large;
}
.navBar-image{
    width: 158px;
}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}
.assetPopOverText {
    display: inline-block;
    font-size: smaller;
    margin-left: 14px;
}


.container{
    position:relative;
}
.custom-modal {
    width: 200px!important; /* Use !important in case you want to override another val*/
    height: 200px;
    position: absolute; /*You can use fixed too*/
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    display:none; /* You want it to be hidden, and show it using jquery*/
}
.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 {
    border:0 solid #fff;
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
